<div class="row-fluid">
  <ul class="nav nav-tabs">
    <li><%= link_to 'Account', account_edit_path %></li>
    <li class="active"><%= link_to 'API', account_api_path %></li>
  </ul>
  <h4>Access Token</h4>
  <pre class="">?token=<%= @user.apikey.access_token %></pre>
  <div class="row-fluid mt15">
    <h4>Usage</h4>
    <div class="well well-small">
      Current: <b><%= @current_usage %></b> - Max: <b><%= @max_usage %></b>
    </div>

    <div class="progress">
      <div class="bar" style="width: <%= number_to_percentage(@current_usage / @max_usage * 100, :precision => 1) %>;"></div>
    </div>
  </div>
</div>
