<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Eve SQL" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Evedb" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="muted">&copy; <%= Time.new.year %> Eve SQL. All other trademarks or registered trademarks are the property of their respective owners.</p>
        <p class="muted">By <a href="https://gate.eveonline.com/Profile/blue%20coeur" target="_blank">blue coeur</a></p>
      </div>
    </footer>
  </body>
</html>